---
import Layout from '../layouts/Layout.astro';
import ContactForm from '../components/ContactForm.astro';
---

<Layout title="Job Application Form">
  <main>
    <h1>Job Application Form</h1>
    <p>Complete the form step by step to apply for your desired position.</p>
    <ContactForm />
  </main>
</Layout>
